body{
    margin: 0px!important;
}
.sound-cntrl{
    color:rgb(219, 219, 219);
}
.hd-word{
    color:rgb(219, 219, 219);
    margin-right:85px;
    font-size:21px;
    padding-right:20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    border:2px solid ;
    border-left:white;
    border-bottom:black;
    border-top:black;
}
.header{
    display:flex;
    justify-content:flex-start;
    border:3px solid; 
    border-color:black;
    background-color:black;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    
}
ul{ 
    display:flex;
    justify-content: flex-start;
    margin-left: 550px;
    list-style-type:none;
    text-decoration: none;
}
.intro-scrn{
  background-image:url(https://imgur.com/45wlykT.jpg);
  background-repeat: no-repeat;
  width: 100% ;
  height: 657px ;
}
#about-me{
    background-color: black;
    height:657;
}
.carousel-control-prev-icon{
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    background-color: black;
    filter: alpha(opacity=50);
    opacity: .5;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  }
  .carousel{
    width:80%;
  }
     
  
.scroll-image{
    margin-left: 130px;
    margin-top:50px;
  
}
.pic-wrd{
    color: black;
}
#projects{
    background-color: black;
    background-image: url(https://i.imgur.com/vzEgcha.png);
    background-repeat: no-repeat ;
    width: 100%; ;
    height:580px; 
}
.prjt-title{
    color :red;
    font-size:65px;
    font-family: 'Poppins', sans-serif;
    margin-left:40px;
    
}
#contact{
    background-color:black;
    width: 100%; ;
    height:600px;  
    background-image:url();
    background-repeat: no-repeat;
}
.contact-title{
    color :red;
    font-size:55px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#SimpleCarouselExample{
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 20px;
    padding-bottom:20px;
}
.music-scroll{
    margin-top:10px;
}