body{
    margin: 0px!important;
}
p{
    color:grey;
}
.header{
    display:flex;
    justify-content:flex-start;
    border:6px solid; 
    border-color:black;
    background-color:black;
    
}
.left-side-hd{ 
    margin-left:70%;
    display:flex;
}
.intro-scrn{
  background-image:url(https://imgur.com/dIdjKqN.jpg);
  background-repeat: no-repeat;
  width: 1000%;
  height:500px;
}


